
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="customerName"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="shirtJacketColor"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="contractor"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="project"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="notes"></td>
<td>will be populated when signup submitted</td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="salesPerson"></td>
<td>will be populated when Salesperson assigned to customer</td>
<td style = "text-align: center;">---</td>
<td><button (click)="onAddRecord()" class="btn btn-primary">Submit</button></td>
