
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="customerName"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="shirtJacketColor"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="contractor"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="project"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="notes"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="timeIn"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="salesPerson"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="timeHelped"></td>
<td><input (keyup.enter) = "onAddRecord()" type = "text" [(ngModel)]="waitTime"></td>
<td><button (click)="onAddRecord()" class="btn btn-primary">Submit</button></td>
