table {

    box-shadow: 1px 1px 5px;

}

th, td {


    text-align: center;

}


.waitTimeWarning{
    
    background-color: #f4f135;



}


.waitTimeDanger{

    background-color: #ffbfbf; 
    color: red;


}