<td *ngIf = "!edit"  >{{signInRecord.customerName}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.customerName"></td>

<td *ngIf = "!edit" >{{signInRecord.shirtJacketColor}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.shirtJacketColor"></td>


<td *ngIf = "!edit" >{{signInRecord.contractor}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.contractor" ></td>

<td *ngIf = "!edit" >{{signInRecord.project}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.project"></td>

<td *ngIf = "!edit" >{{signInRecord.notes}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.notes"></td>



<td >{{signInRecord.timeInHoursString}}</td>


<td *ngIf = "!edit" >{{signInRecord.salesPerson}}</td>
<td *ngIf = "edit"><select class="form-control" [(ngModel)]="signInRecord.salesPerson">
        <option *ngFor="let s of salespeople" [ngValue]="s">{{s}}</option>
      </select></td>


<td >{{signInRecord.timeHelpedHoursString}}</td>


<td>{{signInRecord.waitTime}}</td>



<td *ngIf = "edit" ><button class="btn btn-secondary" (click) = "onUpdateRecordButton()">Update</button></td>

