<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit"  >{{signInRecord.customerName}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.customerName"></td>

<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit" >{{signInRecord.shirtJacketColor}}</td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.shirtJacketColor"></td>


<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit" >{{signInRecord.contractor}}</td>
<td *ngIf = "edit">
  
 
  <select  class="form-control" [(ngModel)]="signInRecord.contractor">
      <option *ngFor="let c of dataService.contractors" [ngValue]="c">{{c}}</option>
    </select>

</td>

<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit" >{{signInRecord.project}}</td>
<td *ngIf = "edit">
  


  <select class="form-control" [(ngModel)]="signInRecord.project">
      <option *ngFor="let p of dataService.projectNeed" [ngValue]="p">{{p}}</option>
    </select>


</td>

<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit"  ><div style="word-wrap: break-word; max-width: 110px;">{{signInRecord.notes}}</div></td>
<td *ngIf = "edit"><input (keyup.enter) = "onUpdateRecord()" type="text" class="text" [(ngModel)]="signInRecord.notes"></td>



<td [ngClass]="{'salesPersonSet': salesPersonSet}" >{{signInRecord.timeInHoursString}}</td>


<td [ngClass]="{'salesPersonSet': salesPersonSet}" *ngIf = "!edit" >{{signInRecord.salesPerson}}</td>
<td *ngIf = "edit"><select class="form-control" [(ngModel)]="signInRecord.salesPerson">
        <option *ngFor="let s of dataService.salesPeople" [ngValue]="s">{{s}}</option>
      </select></td>


<td [ngClass]="{'salesPersonSet': salesPersonSet}" >{{signInRecord.timeHelpedHoursString}}</td>


<td [ngClass]="{'salesPersonSet': salesPersonSet}" ><div class = "waitTime" [ngClass]="{'waitTimeWarning': warning, 'waitTimeDanger' : danger}">{{signInRecord.waitTime}}</div></td>


<td *ngIf = "!edit" [ngClass]="{'salesPersonSet': salesPersonSet}"></td>
<td *ngIf = "edit" ><button class="btn btn-secondary" (click) = "onUpdateRecordButton()">Update</button></td>

