input {

    width: 98%;
}


.waitTime {

    padding: 5px;
    border-radius: 5px 5px;
}

.waitTimeWarning{
    
    background-color: #f4f135;



}


.waitTimeDanger{

    background-color: #ffbfbf; 
    color: red;


}

.flashing{
    
    background-color: #ffbfbf;
    color: yellow;
}


.salesPersonSet{

    background-color: #e8eaed;
    color: gray;
}