

<table id = "main-table" class="table table-bordered">
    								 

  <tr>
    <th>Customer (Name)</th>
    <th>Shirt/Jacket Color</th>
    <th>Contractor</th>
    <th>Project/Need</th>
    <th>Notes</th>
    <th style = "padding-left: 35px; padding-right: 35px;">Time In</th>
    <th style = "padding-left: 50px; padding-right: 50px;">Sales Person</th>
    <th style = "padding-left: 35px; padding-right: 35px;" >Time Helped</th>
    <th>Wait Time</th>
    
  </tr>
  <tr id ="insertRecord" app-record (recordEvent) = "onRecordAdded($event)"></tr>
  
  <!-- Make certain to pass back in all properties of object back down to saved-record component -->
  <tr app-saved-record  *ngFor = "let r of records; let i = index" 
             [signInRecord] = "r"
             [recordIndex] = "i"
  >
  </tr>

  </table>

  
