
<div class="table-responsive">
<table id = "main-table" class="table" style="border: 1px solid #ddd !important;">
    								 

  <tr>
    <th>Customer (Name)</th>
    <th>Shirt/Jacket Color</th>
    <th>Contractor</th>
    <th>Project/Need</th>
    <th>Notes</th>
    <th style = "padding-left: 35px; padding-right: 35px;">Time In</th>
    <th style = "padding-left: 50px; padding-right: 50px;">Sales Person</th>
    <th style = "padding-left: 35px; padding-right: 35px;" >Time Helped</th>
    <th>Wait Time</th>
    <th></th>
  </tr>
  <tr id ="insertRecord" app-record (recordEvent) = "onRecordAdded($event)"></tr>
  <br/>
  
  <!-- Make certain to pass back in all properties of object back down to saved-record component -->
  <tr style="border: 1px solid #ddd !important;" app-saved-record  
  *ngFor = "let r of records; let i = index" 
             [signInRecord] = "r" 
             [index] = "i"
  >
  </tr>

  </table>
</div>
  
